:root {
    --primary-color: #003C71;  /* Azul oscuro */
    --secondary-color: #0E4779; /* Azul medio */
    --accent-color: #C1A867;  /* Dorado claro */
    --highlight-color: #9D760E; /* Dorado oscuro */
    --background-light: #EAE5D8; /* Beige claro */
    --background-dark: #B2C3CF; /* Azul grisáceo */
    --text-light: #FFFFFF; /* Blanco */
    --text-dark: #000000; /* Negro (opcional si necesitas texto oscuro) */
    --font-primary: 'Poppins', sans-serif;
}