// Estilos Generales

body {
    font-family: var(--font-primary);
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Semi-bold */
}

p {
    font-weight: 400; /* Regular */
}