// aca van los buttons


// Boton de cotizar ahora 

.cotizar-ahora {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
}

// Animacion           

.float {
  transition: $transition-float;
  -webkit-transition: $transition-float;
  -moz-transition: $transition-float;
}

.float:hover {
  box-shadow: $box-shadow-float-hover-primary, $box-shadow-float-hover-secondary;
  transform: translate(0px, 5px); // Podrías crear una variable para este transform
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
}
