
// Marquesina de marcas de aseguradoras

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  background: white; // Podrías crear una variable $color-white si lo usas mucho
  padding: $padding-marquee;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee-content {
  display: flex;
  animation: marquee $animation-marquee-duration linear infinite;
}

.marquee-content img {
  width: $width-marquee-img;
  height: $height-marquee-img;
  object-fit: contain;
  margin: 0 20px; // Podrías crear una variable para este margen
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

// fin de Marquesina de marcas de aseguradoras

// Inicio de beneficios


.beneficios {
  text-align: center;
  padding: $padding-beneficios;
}

.fila-beneficios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.beneficio {
  width: $width-beneficio;
  margin-bottom: $margin-bottom-beneficio;
}

.beneficio i {
  font-size: 3rem; /* Tamaño de los iconos, considera una variable si es común */
  color: $primary-color; /* Color de los iconos */
  margin-bottom: 10px; 
}

.beneficio h3 {
  margin-bottom: 5px; 
}

// Fin de beneficios

// hero de hero-cotizar-seguros.html

.hero-cotizar-seguros {
  background-color: hsl(205, 38%, 91%); // Mantengo HSL ya que no es una variable definida
  padding-bottom: $margin-bottom-hero-padding;
}

.titulo-h1 {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

// Formulario de contacto 


.form-group {
  margin-bottom: $margin-bottom-default;
}

label {
  display: block;
  margin-bottom: 5px; // Podrías crear una variable para este margen
}

input[type=text],
input[type=tel],
input[type=email] {
  width: $width-input-text;
  padding: 8px; // Podrías crear una variable para este padding
  border-radius: $border-radius-input;
  border: 1px solid $primary-color;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-group label {
  margin-right: 15px; // Podrías crear una variable para este margen
  margin-left: 10px; // Podrías crear una variable para este margen
  display: inline-block;
}

// titulos generales

.h1-darshan {
  color: $primary-color;
}

.h3-darshan {
  color: $primary-color;
  text-align: center;
}

.p-darshan {
  text-align: center;
}
