
#footer-Content {
  padding-top: $padding-footer-top;
  background: $background-hero-start; // Usa la variable de color del hero
}

#footer-Content .footer-logo img {
  padding-left: 10px; // Podrías crear una variable para este padding
}

#footer-Content .form-control:focus {
  outline: none;
  box-shadow: none;
  background: $background-form-focus;
}

#footer-Content .copyright {
  margin-top: 125px; // Podrías crear una variable para este margen
  border-top: $border-footer-copyright;
  padding-top: $padding-footer-copyright-top;
  padding-bottom: $padding-footer-copyright-bottom;
}

#footer-Content .copyright p {
  color: $background-dark; // similar a subtitle-hero, considera si es una variable de texto o fondo
  font-size: 18px; // Podrías crear una variable para este font-size
}

#footer-Content .copyright a {
  color: $text-footer-copyright;
}

#footer-Content .widget p {
  color: $text-footer-widget;
  font-size: 16px; // Podrías crear una variable para este font-size
  line-height: 32px; // Podrías crear una variable para este line-height
}

#footer-Content .widget .subscribe-area {
  position: relative;
  height: $height-footer-subscribe-area;
  margin-top: 18px; // Podrías crear una variable para este margen
}

#footer-Content .widget .subscribe-area input[type=email] {
  background: $background-dark;
  border: $border-footer-subscribe-input;
  color: $text-footer-widget; // Reutilizando la variable de texto del widget
  font-size: 14px; // Podrías crear una variable para este font-size
  font-style: italic;
  height: $height-footer-subscribe-input;
}

#footer-Content .widget .subscribe-area span i {
  position: absolute;
  right: 0;
  width: 60px; // Podrías crear una variable para este ancho
  height: $height-footer-subscribe-icon;
  color: $background-light; // El color del icono podría ser una variable de texto
  top: 0;
  background: $accent-color;
  display: block;
  padding: $padding-footer-subscribe-icon;
  font-size: 18px; // Podrías crear una variable para este font-size
  border-radius: $border-radius-footer-subscribe-icon;
}

#footer-Content h3.block-title {
  color: #fff; // Podrías usar $text-light o $color-white
  font-size: 20px; // Podrías crear una variable para este font-size
  font-weight: 600;
  margin-bottom: 30px; // Podrías crear una variable para este margen
}

#footer-Content ul.menu li a {
  color: $text-footer-widget; // Reutilizando la variable de texto del widget
  font-size: 16px; // Podrías crear una variable para este font-size
  font-weight: 400;
  line-height: 32px; // Podrías crear una variable para este line-height
  text-decoration: none;
  -webkit-transition: $transition-footer-menu-link;
  -o-transition: $transition-footer-menu-link;
  transition: $transition-footer-menu-link;
}

.menu li {
  list-style: none;
}

#footer-Content ul.menu li a:hover {
  color: $accent-color;
  padding-left: 5px; // Podrías crear una variable para este padding
  -webkit-transition: $transition-footer-menu-link;
  -o-transition: $transition-footer-menu-link;
  transition: $transition-footer-menu-link;
}