

.footer-content { // CAMBIADO de #footer-Content a .footer-content
  padding-top: $padding-footer-top;
  background: $background-hero-start; // Usa la variable de color del hero
}

.footer-content .footer-logo img { 
  padding-left: 10px; 
}

.footer-content .form-control:focus { 
  outline: none;
  box-shadow: none;
  background: $background-form-focus;
}

.footer-content .copyright { 
  margin-top: 125px; 
  border-top: $border-footer-copyright;
  padding-top: $padding-footer-copyright-top;
  padding-bottom: $padding-footer-copyright-bottom;
}

.footer-content .copyright p { 
  color: $background-dark; 
  font-size: 18px; 
}

.footer-content .copyright a { 
  color: $text-footer-copyright;
}

.footer-content .widget p { 
  color: $text-footer-widget;
  font-size: 16px; 
  line-height: 32px; 
}

.footer-content .widget .subscribe-area { 
  position: relative;
  height: $height-footer-subscribe-area;
  margin-top: 18px; 
}

.footer-content .widget .subscribe-area input[type=email] { 
  background: $background-dark;
  border: $border-footer-subscribe-input;
  color: $text-footer-widget; 
  font-size: 14px; 
  font-style: italic;
  height: $height-footer-subscribe-input;
}

.footer-content .widget .subscribe-area span i { 
  position: absolute;
  right: 0;
  width: 60px; 
  height: $height-footer-subscribe-icon;
  color: $background-light; 
  top: 0;
  background: $accent-color;
  display: block;
  padding: $padding-footer-subscribe-icon;
  font-size: 18px; 
  border-radius: $border-radius-footer-subscribe-icon;
}

.footer-content h3.block-title { 
  color: $text-light; 
  font-size: 20px; 
  font-weight: 600;
  margin-bottom: 30px; 
}

.footer-content ul.menu li a { 
  color: $text-footer-widget; 
  font-size: 16px; 
  font-weight: 400;
  line-height: 32px; 
  text-decoration: none;
  -webkit-transition: $transition-footer-menu-link;
  -o-transition: $transition-footer-menu-link;
  transition: $transition-footer-menu-link;
}

.menu li {
  list-style: none;
}

.footer-content ul.menu li a:hover { 
  color: $accent-color;
  padding-left: 5px; 
  -webkit-transition: $transition-footer-menu-link;
  -o-transition: $transition-footer-menu-link;
  transition: $transition-footer-menu-link;
}