.hero {
  background: $background-hero-start;
  background: -moz-linear-gradient(90deg, $background-hero-start 0%, $background-hero-end 100%);
  background: -webkit-linear-gradient(90deg, $background-hero-start 0%, $background-hero-end 100%);
  background: linear-gradient(90deg, $background-hero-start 0%, $background-hero-end 100%);
  padding: $padding-hero-section;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: -30px; // Podrías crear una variable para este offset
  left: 0;
  width: 100%;
  height: $height-hero-after;
  background: white; // Podrías crear una variable $color-white
  border-radius: $border-radius-hero-after;
}

.title-hero {
  color: $text-light;
  font-weight: 600;
}

.subtitle-hero {
  color: $background-dark; // Este color es similar a text-dark, podrías unificar
  font-weight: 400;
}

.p-hero {
  color: white; // Podrías crear una variable $color-white
  font-size: 20px; // Podrías crear una variable para este font-size
}

