
// Imagenes seccion seguros.html

.img-seguros {
  max-width: 100%;
  height: $height-img-seguros;
}

.img-cotiza-seguros {
  width: $width-img-cotiza-seguros;
  height: $height-img-cotiza-seguros;
}


// Imagenes seccion index.html

.caricatura-darshan {
  max-width: 100%;
  height: $height-caricatura-darshan;
}

.logotipo-principal {
  width: $width-logotipo-principal;
  height: $height-logotipo-principal;
}

.logotipo-footer {
  width: $width-logotipo-footer;
  height: $height-logotipo-footer;
}

// Imagenes seccion contacto.html

.contacto-asesor {
  width: $width-contacto-asesor;
  height: $height-contacto-asesor;
}