

.darshan-menu {
  padding-top: $padding-darshan-menu;
  padding-bottom: $padding-darshan-menu;
}

.nav-link {
  color: $primary-color;
}

.nav-link:hover {
  color: $highlight-color;
}

.btn-darshan {
  @include button-base($primary-color, $primary-color);
}


.btn-darshan-primary {
  @include button-base($primary-color, $primary-color);
  @include button-hover(); 
}

.btn-darshan-secundary {
  @include button-base($text-light, $primary-color, $primary-color); 
  @include button-hover(); 
}
